params {
    max_cpus = 16
    max_memory = '124.GB'
    max_time = '12.h'
    tracedir = "${params.outdir}/pipeline_info"
    publish_dir_mode = 'link'
}

process {
    executor = 'pbspro'
    queue = '@kman'
    module = 'singularity/3.6.4'

    // See https://github.com/nextflow-io/nextflow/issues/2685 
    beforeScript = 'env(){ /usr/bin/env $1 "SINGULARITY_TMPDIR=$TMPDIR" "${@:2}";}'
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    $pbspro {
        queueSize = 100
        pollInterval = '30sec'
    }
}